body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.top-banner{
    display: flex;
    }
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.top-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.footer-banner{
    display: flex;
}